{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": "./",
    "paths": {
      "@db/*": ["src/db/*"],
      "@controllers/*": ["src/app/controllers/*"],
      "@middlewares/*": ["src/app/middlewares/*"],
      "@models/*": ["src/app/models/*"],
      "@repositories/*": ["src/app/repositories/*"],
      "@services/*": ["src/app/services/*"],
      "@routes/*": ["src/routes/*"]
    },
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": true
    },
    "transform": {},
    "target": "es2022",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": false,
    "noInterop": false,
    "lazy": false
  },
  "minify": true
}
